      <ul class="nav nav-fill navbar-dark bg-warning">
      <% errors.forEach(function(err) { %>
        <li class="nav-item nav-group-item-warning"><b><%= err %></b></li>
      <% }); %>
      </ul>
