<%- include layout/site/header %>
 <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
  <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="/assets/images/disberse-vertical.svg" alt="...">
          </div>
          <form method="post" action="/wallet" autocomplete="off">
            <!-- my_var? -->
            <b><%= my_var %></b>
            <input type="hidden" name="action" value="login_pincode">
            <input type="hidden" name="id" value="<%= id %>">

            <div class="form-group form-material floating" data-plugin="formMaterial">
              <input type="password" class="form-control" name="pincode" />
              <label class="floating-label">Pincode</label>
            </div>
            <div class="form-group clearfix">
              <a class="float-right" href="/wallet?action=forgot">Forgot pincode?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Sign in</button>
          </form>
          <p>Still no account? Please go to <a href="register-v3.html">Sign up</a></p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
<!--
        <p>WEBSITE BY Wallet.Systems</p>
//-->
        <p>© 2018. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->
<%- include layout/site/footer %>


